@import "../../layout/theme.scss";
.masthead{
    width: 100%;
    min-height: 23vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   /* margin-bottom: 10px; */
}
.black-overlay{
    padding-top: 80px;
    display: -webkit-flex;
    display: flex;
    background-color: rgba(0,0,0,.87);
    min-height: 23vh;
    align-items: center;
    color: white;
}

p {
    text-align: center;
    font-size: .8rem;

}
.content-box {
    max-width: 700px;
    margin: 0 auto;
    color: white;
}
.content-box .link{
    color: $md-secondary-color;
}
@media (min-width: 769px) {
    .masthead, .black-overlay {
        min-height: 30vh;
    }
    p {
        font-size: 1rem;
    }
}