@import "../../layout/theme.scss";
.masthead {
    width: 100%;
    min-height: 23vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   /* margin-bottom: 10px; */
}
.masthead-black-overlay{
    display: -webkit-flex;
    display: flex;
    background-color: rgba(0,0,0,.87);
    min-height: 23vh;
    align-items: center;
    color: white;
}

marquee{
    padding-top: 10%;
    font-size: 22px;
    font-weight: bold;
}
.rainbow-text {
    text-transform: capitalize;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.masthead-content-box p {
    margin-top: 10px;
    padding-left: 8px;
    font-size: .8rem;
    color: #fff;
    text-align: center;

}
.masthead-content-box {
    padding: 0 16px;
    width: 100%;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.masthead-content-box .link{
    color: $md-secondary-color;
    text-transform: uppercase;
}
@media (min-width: 769px) {
    .masthead, .masthead-black-overlay {
        min-height: 30vh;
    }
    .masthead-black-overlay p {
        font-size: 1rem;
    }
}