@import "../../layout/theme.scss";

.tags-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
    
    .tags-list li a {
      display: inline-block;
      padding: 6px 16px;
      border: 1.5px solid $md-tertiary-color;
      color: #232323;
      text-transform: uppercase;
      font-weight: 500;
      font-size: small;
      margin-top: 6px;
      margin-right: 6px; }
      .tags-list li a:focus, .tags-list li a:hover {
        background-color: $md-secondary-color;
        color: #ffffff; }