@import "../../layout/theme.scss";

.tags-list {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    
    .tags-list li a {
      display: inline-block;
      padding: 6px 16px;
      margin: 1.5px;
      color: #232323;
      background: #fff;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 14px;}
      .tags-list li a:focus, .tags-list li a:hover {
        background-color: $md-secondary-color;
        color: #ffffff; }