
.breadcumb--con .breadcrumb {
  margin: 0;
  padding: 0 16px;
    display: flex;
    list-style: none;
    background-color: transparent;
    @media (max-width: 360px - 1px) {
      padding: 0 8px;
  }
  i{
    padding-right: 4px;
  }
  }
    .breadcumb--con .breadcrumb .breadcrumb-item,
    .breadcumb--con .breadcrumb .breadcrumb-item > a,
    .breadcumb--con .breadcrumb .breadcrumb-item.active {
      font-size: 18px;
      text-transform: capitalize;
      list-style: none;
      color: #232323;
      font-weight: 500;
      letter-spacing: normal; }
      @media only screen and (max-width: 767px) {
        .breadcumb--con .breadcrumb .breadcrumb-item,
        .breadcumb--con .breadcrumb .breadcrumb-item > a,
        .breadcumb--con .breadcrumb .breadcrumb-item.active {
          font-size: 14px; } }
    .breadcumb--con .breadcrumb .breadcrumb-item.active {
      color: #a6a6a6; }
      .breadcumb--con .breadcrumb .breadcrumb-item.active:focus, .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
        color: #a6a6a6; }
    .breadcumb--con .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: "\f105";
      padding: 8px;
      font-family: 'FontAwesome'; }