.breadcumb--con .breadcrumb {
    padding: 30px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0; }
    .breadcumb--con .breadcrumb .breadcrumb-item,
    .breadcumb--con .breadcrumb .breadcrumb-item > a,
    .breadcumb--con .breadcrumb .breadcrumb-item.active {
      font-size: 18px;
      text-transform: capitalize;
      list-style: none;
      color: #232323;
      font-weight: 500;
      letter-spacing: normal; }
      @media only screen and (max-width: 767px) {
        .breadcumb--con .breadcrumb .breadcrumb-item,
        .breadcumb--con .breadcrumb .breadcrumb-item > a,
        .breadcumb--con .breadcrumb .breadcrumb-item.active {
          font-size: 14px; } }
      .breadcumb--con .breadcrumb .breadcrumb-item:focus, .breadcumb--con .breadcrumb .breadcrumb-item:hover,
      .breadcumb--con .breadcrumb .breadcrumb-item > a:focus,
      .breadcumb--con .breadcrumb .breadcrumb-item > a:hover,
      .breadcumb--con .breadcrumb .breadcrumb-item.active:focus,
      .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
        color: #f55656; }
    .breadcumb--con .breadcrumb .breadcrumb-item.active {
      color: #a6a6a6; }
      .breadcumb--con .breadcrumb .breadcrumb-item.active:focus, .breadcumb--con .breadcrumb .breadcrumb-item.active:hover {
        color: #a6a6a6; }
    .breadcumb--con .breadcrumb .page-item:first-child .page-link {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .breadcumb--con .breadcrumb .page-item:last-child .page-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .breadcumb--con .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: "\f105";
      font-family: 'FontAwesome'; }