@import "../../layout/theme.scss";
header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  justify-content: center;
  align-content: center;
  z-index: 100;
  transition:0.5s;
    @media (min-width: 678px) {
      height: 60px;
    }
    nav {
      padding: 0 16px;
      padding-left: 8px;
      height: 100%;
      display: flex;
      align-content: center;
      align-items: center;
      @media (max-width: 359px){
          padding-left: 8px;
          padding-right: 8px;
      }
      @media (min-width: 768px),(max-width: 850px){
        
    }
        .logo{
          display: flex;
          justify-content: flex-start;
          border-radius: 100%;
          background: $md-tertiary-color;
          margin-top: 8px;
          margin-left: 5px;
          @media (max-width: 359px){
            margin-left: -7px;
        }
            img{
              width: 55px;
              margin: -5px -2px;
              @media (max-width: 359px){
                width: 50px;
            }
              @media (min-width: 678px) {
                width: 65px;
              }
            }
        }
        .title{
            display: flex;
            flex: 1;
            justify-content: flex-start;
            .title-con{
              padding-top: 6px;
              padding-left: 4px;
              display: flex;
              font-size: 22px;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.87);
              .title-2{
                font-weight: 400;
                color: rgba(0, 0, 0, 0.57);
                font-size: 26px;
                @media (max-width: 359px){
                  font-size: 24px;
              }
                @media (min-width: 678px) {
                  font-size: 28;
                }
              }
              @media (max-width: 359px){
                font-size: 20px;
            }
              @media (min-width: 678px) {
                font-size: 25px;

              }
            }
        }
              
          ul {
            margin: 0;
            padding-right: 0;
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            flex: 2;
            @media (max-width: 768px) {
                display: none;      
            }
            li{
                display: flex;
                margin: auto 6px;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 16px;
              .link{
                color: rgba(0, 0, 0, 0.87) !important;
              }
              @media (min-width: 891px) {
                font-size: 18px;
                margin: auto 10px;
            }
            @media (min-width: 1067px) {
              justify-content: center;
              margin: auto 15px;
          }
            }
            .catagory-list{
              display: flex;
              li{
                margin: auto 6px;
                @media (min-width: 891px) {
                  font-size: 18px;
                  margin: auto 10px;
              }
              @media (min-width: 1067px) {
                justify-content: center;
                margin: auto 15px;
            }
              }
            }
              
          }
          .userlinks{
              display: flex;
            flex: 1;
            justify-content: flex-end;
            @media (max-width: 768px) {
                display: none;      
            }
          }
          .toggle-button--con{
              @media (min-width: 769px ) {
                display: none;     
            }
          }
          
          
    }
}





