@import "../../layout/theme.scss";
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
    transition:0.5s;
}
header.black {
    background: $md-primary-color;
}
.toolbar_nav {
    display: flex;
    height: 100%;
    align-items:  center;
    padding: 0 1rem;
}

.toolbar_logo {
    display: flex;
    align-items:  center;
    margin-bottom: -2px;
}
.toolbar_logo img{
    max-width: 40px;
}
.toolbar_logo .title {
    color: white;
    font-size: 1.8rem;
}
.spacer {
    flex: 1;
}
.toolbar_nav-items ul {
    list-style: none;
    padding: 0;
    display: flex;
}
.toolbar_nav-items li {
    padding: 0 1rem;
}
.toolbar_nav-items a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}
.toolbar_nav-items .active{
    border-bottom: 2px solid $md-secondary-color;
}
.toolbar_nav-items a:hover,
.toolbar_nav-items a:active {
    color: $md-secondary-color;
}
@media (max-width: 1025px){
    .toolbar_nav-items a {
        font-size: 1rem;
    }
}
.userlinks{
    margin-top: -10px;
}
@media (max-width: 768px) {
    .toolbar_nav-items, .userlinks {
        display: none;
    }
    .toolbar_logo img{
        max-width: 35px;
    }
    .toolbar_logo .title {
        font-size: 1.4rem;
    }
}

@media (min-width: 769px) {
    .toolbar_toggle-button {
        display: none;
    }
}