@import "../../layout/theme.scss";
.featured-post{
    h2.md-card-title--title{
        margin-left: auto;
        margin-right: auto;
    }
}
.swiper-button-prev,
.swiper-button-next{
    background: $md-secondary-color;
    color: white;
}
.swiper-pagination-bullet{
    background: $md-secondary-color;
    font-size: medium;
}
.swiper-scrollbar{
    background: white;
}