@import "../../layout/theme.scss";
.toggle_button-wrap{
    border-radius: 12px;
    
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button_line {
    width: 28px;
    height: 3px;
    background: $md-tertiary-color;
}