@import "../../layout/theme.scss";

.toggle-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 17px;
    width: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button_line {
    width: 24px;
    height: 3px;
    background:  rgba(0, 0, 0, 0.87);
}