@import "../../layout/theme.scss";

.toggle_button-wrap{
    background: $md-primary-color;
    height: 100%;
    width: 40px;
    padding: 38% 0;
}
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
.toggle-button:focus {
    outline: none;
}
.toggle-button_line {
    width: 28px;
    height: 3px;
    background: white;
}