@import "../../layout/theme.scss";
.side-drawer {
    height: 100%;
    background: $md-primary-color;
    position: fixed;
    top: 56px;
    left: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-110%);
    transition: transform 0.4s ease-out;
}
.side-drawer.open {
    transform: translateX(0);
}
.side-drawer ul {

    padding: 10px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer .link {
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.side-drawer .link:hover{
    color: $md-secondary-color;
    padding: 10px 20px;
}
.side-drawer .active{
    border-bottom: 2px solid $md-secondary-color;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}