.side-drawer {
    height: 100%;
    background: #232323;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.993);
    position: fixed;
    top: 56px;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-110%);
    transition: transform 0.4s ease-out;
}
.side-drawer.open {
    transform: translateX(0);
}
ul {

    padding: 10px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
li {
    margin: 0.5rem 0;
}

.link {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.link:hover{
    color: #ffa600;
}
.active{
    border-bottom: 1px solid #ffa600;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}