@import "../../layout/theme.scss";
.side-drawer {
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    padding-top: 50px;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-110%);
    transition: transform 0.4s ease-out;
    @media (min-width: 769px) {
        display: none;
    }
    ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        .link{
            padding: 10px 0;
        }
        li {
            padding: 10px 0;
         }
    }
    .catagory-list{
        text-transform: capitalize;
        font-weight: 500 ;
        padding-left: 0;
        margin: 0;
        li{
            margin: 0;
        }
    }   
}
.side-drawer.open {
    transform: translateX(0);
}
.sidedrawer-copyright{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    color: #a6a6a6;
    font-size: 14px;
}
.sidedrawer-copyright a{
    color: $md-secondary-color;
}
.sidedrawer-copyright a:focus, .sidedrawer-copyright a:hover {
    color: #a6a6a6; 
  }

.side-drawer .drop-down{
    cursor: pointer;
}
.top-user-link{
    margin-top: 5vh;
    margin-left: -2rem;
}

.side-drawer .link {
    color: #232323;
    text-decoration: none;
    
}
.drop-down-content{
    margin-left: 5px;
  }
.side-drawer .fa-angle-double-right {
    display: none;
}
.side-drawer .link:hover{
    color: $md-secondary-color;
}
