@import "../../layout/theme.scss";
.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}
.widget-title {
  background: white;
  font-weight: bold;
  margin-top: 50px !important;
  font-size: 28px;
  text-transform: capitalize; }
  @media only screen and (max-width: 767px) {
    .widget-title {
      font-size: 20px; } }

.catagories-list{
  background: white;
  padding-bottom: 30px !important;
}
      
.catagories-list ib{
  display: none;
}
.catagories-list li a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    text-transform: capitalize;
    color: #232323;
    font-weight: bold ; }
    @media only screen and (max-width: 767px) {
      .catagories-list li a {
        font-size: 16px; } }
    .catagories-list li a:focus, .catagories-list li a:hover {
      color: $md-secondary-color; }
  
  
