@import "../../layout/theme.scss";

.footer {
  justify-content: center;
  align-content: center;
  background-color:  rgba(0, 0, 0, 0.87);
  padding: 16px 16px 16px;
  .notice-container {
    display: flex;
    align-content: center;
    align-items: center;
    @media (max-width: 640px - 1px) {
      flex-direction: column;
    }
    .footer-user--link {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      @media (max-width: 640px - 1px) {
        
      }
    }
    .based-on {
      display: flex;
      flex: 1;
      justify-content: center;
      @media (max-width: 640px - 1px) {
      }
    }

    h5 {
      color: #fff;
      text-align: center;
    }
    h6 {
      color: $md-primary-color;
      text-align: center;
      @media (min-width: 640px - 1px) {
        font-size: 14px;
        text-align: center;
      }
    }
    .copyright {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      @media (max-width: 640px - 1px) {
      }
    } 
  }
  .footer-link{
    display: flex;
    flex: 1;
    justify-content: center;
    @media (min-width: 640px - 1px) {
    }
    a{
      color: $md-primary-color;
      padding: 0 20px;
    }
    a:hover{
      color: $md-secondary-color;
    }
    .terms, .privacy{
      border-right: 2px solid $md-primary-color;
    }
  }
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}