@import "../../layout/theme.scss";
.catagory-list{
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 600 ;
  li{
    padding: 10px 16px;
    .link{
      color: #2c2b2b;
       }
      @media only screen and (max-width: 767px) {
          
      }
      .link:focus, .link:hover {
        color: $md-secondary-color; 
      }
  }
}