@import "../../layout/theme.scss";

.post-suggestions {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: space-between;
  background-color: #ffffff;

  .hide-on-mobile {
    @media (max-width: 360px - 1px) {
      display: none;
    }
  }

  .post-suggestion {
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: $md-secondary-color !important;

    .headline-container {
      margin-right: 10px;
      margin-left: 10px;
      @media (max-width: 640px - 1px) {
        
      }
    }
  }

  .secondary-color {
    color: #a6a6a6;
  }
}
