
nav{
    display: block;
    ul{
        margin-top: 0;
        margin-bottom: 1rem;
         
    }
    .pagination {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
        
    }
    li{
        display: list-item;
        text-align: -webkit-match-parent;
    }
    a:link {
        cursor: pointer;
        color: #ffa726;
        text-decoration: none;
    }
    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: black;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }
    .page-link:hover {
        z-index: 2;
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
    }
    .page-item:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    .page-item:last-child .page-link {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: orange;
        border-color: orange;
    }

}



