@import "./theme.scss";
div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.widget-title {
    font-weight: bold;
    background: white;
    font-size: 20px;
    line-height: 1.5;
    margin: 16px;
    padding: 0 16px;
    margin-bottom: 0px;
    text-transform: capitalize;
    border-left: 8px solid $md-secondary-color; }
    

